			
		<div class="nav-container">
			
			
		
			<nav class="nav-3">
				<div class="container">
					<div class="row">
						<div class="col-xs-4">
							<a href="#">
								<img alt="Logo" class="logo" src="img/logo-light.png">
							</a>
						</div>
					
						<div class="col-xs-8 text-right">
							<a class="btn btn-xs" href="#">Join Now »</a>
							<div class="mobile-toggle">
								<div class="upper"></div>
								<div class="middle"></div>
								<div class="lower"></div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-9">
							<ul class="icon-menu">
								<li>
									<a href="#">
										<i class="icon-ipod-streamline"></i>
										<span>How It Works</span>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon-design-pencil-rule-streamline"></i>
										<span>Style Guide</span>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon-browser-streamline-window"></i>
										<span>Build Your Own</span>
									</a>
								</li>
							
								<li>
									<a href="#">
										<i class="icon-bubble-comment-streamline-talk"></i>
										<span>Get In Touch</span>
									</a>
								</li>
							</ul>
						</div>
					
						<div class="col-sm-3 text-right">
							<ul class="menu">
								<li>
									<a href="#">
										Home
									</a>
								</li>
							
								<li>
									<a href="#">
										Pricing
									</a>
								</li>
							
								<li>
									<a href="#">
										Testimonials
									</a>
								</li>
							
								<li>
									<a href="#">
										Contact
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</nav>
		
			
			
		
			
		
		</div>
		
		<div class="main-container">
		<section class="header header-8">
				<div class="header-upper">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h2 class="text-white">Tomorrow's Worforce <strong>Accelerated.</strong></h2>
								<h5 class="text-white">Digital solutions for lifelong learning</h5>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-12 text-center">
								<img alt="iPad Screenshot" src="img/ipad.png">
							</div>
						</div>
					</div>
				</div>
			
				<div class="header-lower">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h4>Closing the global opportunity gap</h4>
								<a class="btn" href="#">Take A Tour</a>
								<h6>or</h6>
								<a class="btn btn-filled" href="#purchase-template">Buy Launchkit</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="features features-3">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h3>Advancing Education</h3>
							<p>With multiple options for all sections - Launchkit has the right stuff for your next landing page.</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<i class="icon-camera-streamline-video"></i>
							<h5>Online Course Design & Development</h5>
							<p>
								Whether you need to move a degree online, or you are ready to launch an entirely new digital first education program, we are ready to partner with you. 
							</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-browser-streamline-window"></i>
							<h5>Innovation Pilot Design</h5>
							<p>
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
							</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<i class="icon-backpack-streamline-trekking"></i>
							<h5>Skill-based Training Partnership</h5>
							<p>
								At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
							</p>
						</div>
					</div>
				</div>	
			</section>			
			
					
			
					
			
					
			<footer class="footer footer-6">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-6">
							<a href="#">
								<img alt="Logo" src="img/logo-dark.png">
							</a>
							<form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
								<input type="text" name="Email Address" class="validate-email signup-email-field" placeholder="Newsletter Signup">
								<input type="submit" value="Go">
								<iframe srcdoc="" class="mail-list-form">
								</iframe>
							</form>
						</div>
					
						<div class="col-md-2 col-sm-3 col-xs-6">
							<h6>More Info</h6>
							<ul class="menu">
								<li>
									<a href="#">
										About
									</a>
								</li>
							
								<li>
									<a href="#">
										News
									</a>
								</li>
						
								<li>
									<a href="#">
										FAQ
									</a>
								</li>
						
								<li>
									<a href="#">
										Privacy Policy
									</a>
								</li>
						
								<li>
									<a href="#">
										Terms of Use
									</a>
								</li>
							</ul>
						</div>
					
						<div class="col-md-2 col-sm-3 col-xs-6">
							<h6>Social</h6>
							<ul class="menu">
								<li>
									<a href="#">
										Facebook
									</a>
								</li>
						
								<li>
									<a href="#">
										Twitter
									</a>
								</li>
						
								<li>
									<a href="#">
										Instagram
									</a>
								</li>
							</ul>
						</div>
					</div>
				
					<div class="row">
						<div class="col-xs-12">
							<p class="sub">
								© Copyright 2015 Medium Rare - All Rights Reserved
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
		